In [2]:
print("i am student")

i am student

In [6]:
import pandas as pd 
df = pd.read_csv("student_data (1).csv")

In [8]:
df

   StudentID          FullName  Data Structure Marks  ...  EnrollmentDate  Instructor    Location
0     PH1001       Alif Rahman                  85.0  ...      2024-01-15   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter                  92.0  ...      2024-01-20   Ms. Salma  Chattogram
2     PH1003     Imran Hossain                  88.0  ...      2024-02-10   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous                  78.0  ...      2024-02-12   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin                   NaN  ...      2024-03-05   Mr. Karim  Chattogram
5     PH1006       Laila Begum                  75.0  ...      2024-03-08   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan                  80.0  ...      2024-04-01   Mr. Karim       Dhaka
7     PH1008       Nadia Islam                  81.0  ...      2024-04-22   Ms. Salma  Chattogram
8     PH1009        Omar Faruq                  72.0  ...      2024-05-16   Mr. David       Dhaka
9     PH1010      Priya Sharma                  89.0  ...      2024-05-20   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh                   NaN  ...      2024-06-11   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury                  85.0  ...      2024-06-14   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed                  75.0  ...      2024-07-02   Mr. David       Dhaka
13    PH1014        Urmi Akter                   NaN  ...      2024-07-09   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman                  86.0  ...      2024-08-18   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman                  94.0  ...      2024-08-21   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi                  90.0  ...      2025-09-01   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed                  88.0  ...      2025-09-05   Ms. Salma      Sylhet
18    PH1019      Faria Rahman                   NaN  ...      2025-09-15   Mr. David  Chattogram
19    PH1020        Nasir Khan                  86.0  ...      2025-10-02   Ms. Salma       Dhaka

[20 rows x 9 columns]

In [13]:
names=df["FullName"]
print(type(names))

<class 'pandas.core.series.Series'>

In [16]:
df.loc[1]

StudentID                      PH1002
FullName                Fatima Akhter
Data Structure Marks             92.0
Algorithm Marks                  92.0
Python Marks                      NaN
CompletionStatus          In Progress
EnrollmentDate             2024-01-20
Instructor                  Ms. Salma
Location                   Chattogram
Name: 1, dtype: object

In [23]:
df.loc[1:5,["FullName","Python Marks","Location"]]

           FullName  Python Marks    Location
1     Fatima Akhter           NaN  Chattogram
2     Imran Hossain          85.0       Dhaka
3  Jannatul Ferdous          82.0      Sylhet
4       Kamal Uddin          95.0  Chattogram
5       Laila Begum          78.0    Rajshahi

Changing Index and Columns and Iloc

In [26]:
df1 = df.set_index("StudentID")

In [27]:
df1

                   FullName  Data Structure Marks  Algorithm Marks  ...  EnrollmentDate Instructor    Location
StudentID                                                           ...
PH1001          Alif Rahman                  85.0             85.0  ...      2024-01-15  Mr. Karim       Dhaka
PH1002        Fatima Akhter                  92.0             92.0  ...      2024-01-20  Ms. Salma  Chattogram
PH1003        Imran Hossain                  88.0             88.0  ...      2024-02-10  Mr. Karim       Dhaka
PH1004     Jannatul Ferdous                  78.0             78.0  ...      2024-02-12  Ms. Salma      Sylhet
PH1005          Kamal Uddin                   NaN              NaN  ...      2024-03-05  Mr. Karim  Chattogram
PH1006          Laila Begum                  75.0             75.0  ...      2024-03-08  Ms. Salma    Rajshahi
PH1007       Mahmudul Hasan                  80.0             80.0  ...      2024-04-01  Mr. Karim       Dhaka
PH1008          Nadia Islam                  81.0             81.0  ...      2024-04-22  Ms. Salma  Chattogram
PH1009           Omar Faruq                  72.0             72.0  ...      2024-05-16  Mr. David       Dhaka
PH1010         Priya Sharma                  89.0             89.0  ...      2024-05-20  Ms. Salma      Sylhet
PH1011         Rahim Sheikh                   NaN              NaN  ...      2024-06-11  Mr. Karim      Khulna
PH1012      Sadia Chowdhury                  85.0             85.0  ...      2024-06-14  Ms. Salma  Chattogram
PH1013         Tanvir Ahmed                  75.0             75.0  ...      2024-07-02  Mr. David       Dhaka
PH1014           Urmi Akter                   NaN              NaN  ...      2024-07-09  Ms. Salma    Rajshahi
PH1015         Wahiduzzaman                  86.0             86.0  ...      2024-08-18  Mr. Karim       Dhaka
PH1016         Ziaur Rahman                  94.0             94.0  ...      2024-08-21  Ms. Salma  Chattogram
PH1017          Afsana Mimi                  90.0             90.0  ...      2025-09-01  Mr. Karim       Dhaka
PH1018          Babul Ahmed                  88.0             88.0  ...      2025-09-05  Ms. Salma      Sylhet
PH1019         Faria Rahman                   NaN              NaN  ...      2025-09-15  Mr. David  Chattogram
PH1020           Nasir Khan                  86.0             86.0  ...      2025-10-02  Ms. Salma       Dhaka

[20 rows x 8 columns]

In [28]:
df.rename(columns={'FullName':'Full Name'})

   StudentID         Full Name  Data Structure Marks  ...  EnrollmentDate  Instructor    Location
0     PH1001       Alif Rahman                  85.0  ...      2024-01-15   Mr. Karim       Dhaka
1     PH1002     Fatima Akhter                  92.0  ...      2024-01-20   Ms. Salma  Chattogram
2     PH1003     Imran Hossain                  88.0  ...      2024-02-10   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous                  78.0  ...      2024-02-12   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin                   NaN  ...      2024-03-05   Mr. Karim  Chattogram
5     PH1006       Laila Begum                  75.0  ...      2024-03-08   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan                  80.0  ...      2024-04-01   Mr. Karim       Dhaka
7     PH1008       Nadia Islam                  81.0  ...      2024-04-22   Ms. Salma  Chattogram
8     PH1009        Omar Faruq                  72.0  ...      2024-05-16   Mr. David       Dhaka
9     PH1010      Priya Sharma                  89.0  ...      2024-05-20   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh                   NaN  ...      2024-06-11   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury                  85.0  ...      2024-06-14   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed                  75.0  ...      2024-07-02   Mr. David       Dhaka
13    PH1014        Urmi Akter                   NaN  ...      2024-07-09   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman                  86.0  ...      2024-08-18   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman                  94.0  ...      2024-08-21   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi                  90.0  ...      2025-09-01   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed                  88.0  ...      2025-09-05   Ms. Salma      Sylhet
18    PH1019      Faria Rahman                   NaN  ...      2025-09-15   Mr. David  Chattogram
19    PH1020        Nasir Khan                  86.0  ...      2025-10-02   Ms. Salma       Dhaka

[20 rows x 9 columns]

In [29]:
df.drop(0,inplace=True)

In [30]:
df

   StudentID          FullName  Data Structure Marks  ...  EnrollmentDate  Instructor    Location
1     PH1002     Fatima Akhter                  92.0  ...      2024-01-20   Ms. Salma  Chattogram
2     PH1003     Imran Hossain                  88.0  ...      2024-02-10   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous                  78.0  ...      2024-02-12   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin                   NaN  ...      2024-03-05   Mr. Karim  Chattogram
5     PH1006       Laila Begum                  75.0  ...      2024-03-08   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan                  80.0  ...      2024-04-01   Mr. Karim       Dhaka
7     PH1008       Nadia Islam                  81.0  ...      2024-04-22   Ms. Salma  Chattogram
8     PH1009        Omar Faruq                  72.0  ...      2024-05-16   Mr. David       Dhaka
9     PH1010      Priya Sharma                  89.0  ...      2024-05-20   Ms. Salma      Sylhet
10    PH1011      Rahim Sheikh                   NaN  ...      2024-06-11   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury                  85.0  ...      2024-06-14   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed                  75.0  ...      2024-07-02   Mr. David       Dhaka
13    PH1014        Urmi Akter                   NaN  ...      2024-07-09   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman                  86.0  ...      2024-08-18   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman                  94.0  ...      2024-08-21   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi                  90.0  ...      2025-09-01   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed                  88.0  ...      2025-09-05   Ms. Salma      Sylhet
18    PH1019      Faria Rahman                   NaN  ...      2025-09-15   Mr. David  Chattogram
19    PH1020        Nasir Khan                  86.0  ...      2025-10-02   Ms. Salma       Dhaka

[19 rows x 9 columns]

In [31]:
df.loc[10,"FullName"]="sadekul islam"

In [32]:
df

   StudentID          FullName  Data Structure Marks  ...  EnrollmentDate  Instructor    Location
1     PH1002     Fatima Akhter                  92.0  ...      2024-01-20   Ms. Salma  Chattogram
2     PH1003     Imran Hossain                  88.0  ...      2024-02-10   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous                  78.0  ...      2024-02-12   Ms. Salma      Sylhet
4     PH1005       Kamal Uddin                   NaN  ...      2024-03-05   Mr. Karim  Chattogram
5     PH1006       Laila Begum                  75.0  ...      2024-03-08   Ms. Salma    Rajshahi
6     PH1007    Mahmudul Hasan                  80.0  ...      2024-04-01   Mr. Karim       Dhaka
7     PH1008       Nadia Islam                  81.0  ...      2024-04-22   Ms. Salma  Chattogram
8     PH1009        Omar Faruq                  72.0  ...      2024-05-16   Mr. David       Dhaka
9     PH1010      Priya Sharma                  89.0  ...      2024-05-20   Ms. Salma      Sylhet
10    PH1011     sadekul islam                   NaN  ...      2024-06-11   Mr. Karim      Khulna
11    PH1012   Sadia Chowdhury                  85.0  ...      2024-06-14   Ms. Salma  Chattogram
12    PH1013      Tanvir Ahmed                  75.0  ...      2024-07-02   Mr. David       Dhaka
13    PH1014        Urmi Akter                   NaN  ...      2024-07-09   Ms. Salma    Rajshahi
14    PH1015      Wahiduzzaman                  86.0  ...      2024-08-18   Mr. Karim       Dhaka
15    PH1016      Ziaur Rahman                  94.0  ...      2024-08-21   Ms. Salma  Chattogram
16    PH1017       Afsana Mimi                  90.0  ...      2025-09-01   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed                  88.0  ...      2025-09-05   Ms. Salma      Sylhet
18    PH1019      Faria Rahman                   NaN  ...      2025-09-15   Mr. David  Chattogram
19    PH1020        Nasir Khan                  86.0  ...      2025-10-02   Ms. Salma       Dhaka

[19 rows x 9 columns]

In [33]:
for i,series in df.iterrows():
    print(f"{i} : {series}")

1 : StudentID                      PH1002
FullName                Fatima Akhter
Data Structure Marks             92.0
Algorithm Marks                  92.0
Python Marks                      NaN
CompletionStatus          In Progress
EnrollmentDate             2024-01-20
Instructor                  Ms. Salma
Location                   Chattogram
Name: 1, dtype: object
2 : StudentID                      PH1003
FullName                Imran Hossain
Data Structure Marks             88.0
Algorithm Marks                  88.0
Python Marks                     85.0
CompletionStatus            Completed
EnrollmentDate             2024-02-10
Instructor                  Mr. Karim
Location                        Dhaka
Name: 2, dtype: object
3 : StudentID                         PH1004
FullName                Jannatul Ferdous
Data Structure Marks                78.0
Algorithm Marks                     78.0
Python Marks                        82.0
CompletionStatus               Completed
EnrollmentDate                2024-02-12
Instructor                     Ms. Salma
Location                          Sylhet
Name: 3, dtype: object
4 : StudentID                    PH1005
FullName                Kamal Uddin
Data Structure Marks            NaN
Algorithm Marks                 NaN
Python Marks                   95.0
CompletionStatus        In Progress
EnrollmentDate           2024-03-05
Instructor                Mr. Karim
Location                 Chattogram
Name: 4, dtype: object
5 : StudentID                    PH1006
FullName                Laila Begum
Data Structure Marks           75.0
Algorithm Marks                75.0
Python Marks                   78.0
CompletionStatus          Completed
EnrollmentDate           2024-03-08
Instructor                Ms. Salma
Location                   Rajshahi
Name: 5, dtype: object
6 : StudentID                       PH1007
FullName                Mahmudul Hasan
Data Structure Marks              80.0
Algorithm Marks                   80.0
Python Marks                       NaN
CompletionStatus           In Progress
EnrollmentDate              2024-04-01
Instructor                   Mr. Karim
Location                         Dhaka
Name: 6, dtype: object
7 : StudentID                    PH1008
FullName                Nadia Islam
Data Structure Marks           81.0
Algorithm Marks                81.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2024-04-22
Instructor                Ms. Salma
Location                 Chattogram
Name: 7, dtype: object
8 : StudentID                   PH1009
FullName                Omar Faruq
Data Structure Marks          72.0
Algorithm Marks               72.0
Python Marks                  76.0
CompletionStatus         Completed
EnrollmentDate          2024-05-16
Instructor               Mr. David
Location                     Dhaka
Name: 8, dtype: object
9 : StudentID                     PH1010
FullName                Priya Sharma
Data Structure Marks            89.0
Algorithm Marks                 89.0
Python Marks                    88.0
CompletionStatus           Completed
EnrollmentDate            2024-05-20
Instructor                 Ms. Salma
Location                      Sylhet
Name: 9, dtype: object
10 : StudentID                      PH1011
FullName                sadekul islam
Data Structure Marks              NaN
Algorithm Marks                   NaN
Python Marks                     91.0
CompletionStatus          In Progress
EnrollmentDate             2024-06-11
Instructor                  Mr. Karim
Location                       Khulna
Name: 10, dtype: object
11 : StudentID                        PH1012
FullName                Sadia Chowdhury
Data Structure Marks               85.0
Algorithm Marks                    85.0
Python Marks                       87.0
CompletionStatus              Completed
EnrollmentDate               2024-06-14
Instructor                    Ms. Salma
Location                     Chattogram
Name: 11, dtype: object
12 : StudentID                     PH1013
FullName                Tanvir Ahmed
Data Structure Marks            75.0
Algorithm Marks                 75.0
Python Marks                    79.0
CompletionStatus           Completed
EnrollmentDate            2024-07-02
Instructor                 Mr. David
Location                       Dhaka
Name: 12, dtype: object
13 : StudentID                    PH1014
FullName                 Urmi Akter
Data Structure Marks            NaN
Algorithm Marks                 NaN
Python Marks                    NaN
CompletionStatus        Not Started
EnrollmentDate           2024-07-09
Instructor                Ms. Salma
Location                   Rajshahi
Name: 13, dtype: object
14 : StudentID                     PH1015
FullName                Wahiduzzaman
Data Structure Marks            86.0
Algorithm Marks                 86.0
Python Marks                    84.0
CompletionStatus           Completed
EnrollmentDate            2024-08-18
Instructor                 Mr. Karim
Location                       Dhaka
Name: 14, dtype: object
15 : StudentID                     PH1016
FullName                Ziaur Rahman
Data Structure Marks            94.0
Algorithm Marks                 94.0
Python Marks                     NaN
CompletionStatus         In Progress
EnrollmentDate            2024-08-21
Instructor                 Ms. Salma
Location                  Chattogram
Name: 15, dtype: object
16 : StudentID                    PH1017
FullName                Afsana Mimi
Data Structure Marks           90.0
Algorithm Marks                90.0
Python Marks                   93.0
CompletionStatus          Completed
EnrollmentDate           2025-09-01
Instructor                Mr. Karim
Location                      Dhaka
Name: 16, dtype: object
17 : StudentID                    PH1018
FullName                Babul Ahmed
Data Structure Marks           88.0
Algorithm Marks                88.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2025-09-05
Instructor                Ms. Salma
Location                     Sylhet
Name: 17, dtype: object
18 : StudentID                     PH1019
FullName                Faria Rahman
Data Structure Marks             NaN
Algorithm Marks                  NaN
Python Marks                     NaN
CompletionStatus         Not Started
EnrollmentDate            2025-09-15
Instructor                 Mr. David
Location                  Chattogram
Name: 18, dtype: object
19 : StudentID                   PH1020
FullName                Nasir Khan
Data Structure Marks          86.0
Algorithm Marks               86.0
Python Marks                  89.0
CompletionStatus         Completed
EnrollmentDate          2025-10-02
Instructor               Ms. Salma
Location                     Dhaka
Name: 19, dtype: object

In [34]:
for i in df.itertuples():
    print(i)

Pandas(Index=1, StudentID='PH1002', FullName='Fatima Akhter', _3=92.0, _4=92.0, _5=nan, CompletionStatus='In Progress', EnrollmentDate='2024-01-20', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=2, StudentID='PH1003', FullName='Imran Hossain', _3=88.0, _4=88.0, _5=85.0, CompletionStatus='Completed', EnrollmentDate='2024-02-10', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=3, StudentID='PH1004', FullName='Jannatul Ferdous', _3=78.0, _4=78.0, _5=82.0, CompletionStatus='Completed', EnrollmentDate='2024-02-12', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=4, StudentID='PH1005', FullName='Kamal Uddin', _3=nan, _4=nan, _5=95.0, CompletionStatus='In Progress', EnrollmentDate='2024-03-05', Instructor='Mr. Karim', Location='Chattogram')
Pandas(Index=5, StudentID='PH1006', FullName='Laila Begum', _3=75.0, _4=75.0, _5=78.0, CompletionStatus='Completed', EnrollmentDate='2024-03-08', Instructor='Ms. Salma', Location='Rajshahi')
Pandas(Index=6, StudentID='PH1007', FullName='Mahmudul Hasan', _3=80.0, _4=80.0, _5=nan, CompletionStatus='In Progress', EnrollmentDate='2024-04-01', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=7, StudentID='PH1008', FullName='Nadia Islam', _3=81.0, _4=81.0, _5=85.0, CompletionStatus='Completed', EnrollmentDate='2024-04-22', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=8, StudentID='PH1009', FullName='Omar Faruq', _3=72.0, _4=72.0, _5=76.0, CompletionStatus='Completed', EnrollmentDate='2024-05-16', Instructor='Mr. David', Location='Dhaka')
Pandas(Index=9, StudentID='PH1010', FullName='Priya Sharma', _3=89.0, _4=89.0, _5=88.0, CompletionStatus='Completed', EnrollmentDate='2024-05-20', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=10, StudentID='PH1011', FullName='sadekul islam', _3=nan, _4=nan, _5=91.0, CompletionStatus='In Progress', EnrollmentDate='2024-06-11', Instructor='Mr. Karim', Location='Khulna')
Pandas(Index=11, StudentID='PH1012', FullName='Sadia Chowdhury', _3=85.0, _4=85.0, _5=87.0, CompletionStatus='Completed', EnrollmentDate='2024-06-14', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=12, StudentID='PH1013', FullName='Tanvir Ahmed', _3=75.0, _4=75.0, _5=79.0, CompletionStatus='Completed', EnrollmentDate='2024-07-02', Instructor='Mr. David', Location='Dhaka')
Pandas(Index=13, StudentID='PH1014', FullName='Urmi Akter', _3=nan, _4=nan, _5=nan, CompletionStatus='Not Started', EnrollmentDate='2024-07-09', Instructor='Ms. Salma', Location='Rajshahi')
Pandas(Index=14, StudentID='PH1015', FullName='Wahiduzzaman', _3=86.0, _4=86.0, _5=84.0, CompletionStatus='Completed', EnrollmentDate='2024-08-18', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=15, StudentID='PH1016', FullName='Ziaur Rahman', _3=94.0, _4=94.0, _5=nan, CompletionStatus='In Progress', EnrollmentDate='2024-08-21', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=16, StudentID='PH1017', FullName='Afsana Mimi', _3=90.0, _4=90.0, _5=93.0, CompletionStatus='Completed', EnrollmentDate='2025-09-01', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=17, StudentID='PH1018', FullName='Babul Ahmed', _3=88.0, _4=88.0, _5=85.0, CompletionStatus='Completed', EnrollmentDate='2025-09-05', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=18, StudentID='PH1019', FullName='Faria Rahman', _3=nan, _4=nan, _5=nan, CompletionStatus='Not Started', EnrollmentDate='2025-09-15', Instructor='Mr. David', Location='Chattogram')
Pandas(Index=19, StudentID='PH1020', FullName='Nasir Khan', _3=86.0, _4=86.0, _5=89.0, CompletionStatus='Completed', EnrollmentDate='2025-10-02', Instructor='Ms. Salma', Location='Dhaka')

In [37]:
df_sort = df.sort_values(["Python Marks"],ascending=False)

In [38]:
df_sort

   StudentID          FullName  Data Structure Marks  ...  EnrollmentDate  Instructor    Location
4     PH1005       Kamal Uddin                   NaN  ...      2024-03-05   Mr. Karim  Chattogram
16    PH1017       Afsana Mimi                  90.0  ...      2025-09-01   Mr. Karim       Dhaka
10    PH1011     sadekul islam                   NaN  ...      2024-06-11   Mr. Karim      Khulna
19    PH1020        Nasir Khan                  86.0  ...      2025-10-02   Ms. Salma       Dhaka
9     PH1010      Priya Sharma                  89.0  ...      2024-05-20   Ms. Salma      Sylhet
11    PH1012   Sadia Chowdhury                  85.0  ...      2024-06-14   Ms. Salma  Chattogram
2     PH1003     Imran Hossain                  88.0  ...      2024-02-10   Mr. Karim       Dhaka
17    PH1018       Babul Ahmed                  88.0  ...      2025-09-05   Ms. Salma      Sylhet
7     PH1008       Nadia Islam                  81.0  ...      2024-04-22   Ms. Salma  Chattogram
14    PH1015      Wahiduzzaman                  86.0  ...      2024-08-18   Mr. Karim       Dhaka
3     PH1004  Jannatul Ferdous                  78.0  ...      2024-02-12   Ms. Salma      Sylhet
12    PH1013      Tanvir Ahmed                  75.0  ...      2024-07-02   Mr. David       Dhaka
5     PH1006       Laila Begum                  75.0  ...      2024-03-08   Ms. Salma    Rajshahi
8     PH1009        Omar Faruq                  72.0  ...      2024-05-16   Mr. David       Dhaka
1     PH1002     Fatima Akhter                  92.0  ...      2024-01-20   Ms. Salma  Chattogram
6     PH1007    Mahmudul Hasan                  80.0  ...      2024-04-01   Mr. Karim       Dhaka
13    PH1014        Urmi Akter                   NaN  ...      2024-07-09   Ms. Salma    Rajshahi
15    PH1016      Ziaur Rahman                  94.0  ...      2024-08-21   Ms. Salma  Chattogram
18    PH1019      Faria Rahman                   NaN  ...      2025-09-15   Mr. David  Chattogram

[19 rows x 9 columns]

In [40]:
not_started = df.loc[df["CompletionStatus"]=="Not Started"]
not_started

   StudentID      FullName  Data Structure Marks  ...  EnrollmentDate  Instructor    Location
13    PH1014    Urmi Akter                   NaN  ...      2024-07-09   Ms. Salma    Rajshahi
18    PH1019  Faria Rahman                   NaN  ...      2025-09-15   Mr. David  Chattogram

[2 rows x 9 columns]

In [45]:
started = df.loc[(df["CompletionStatus"]=="Completed") & (df["Python Marks"]>90)]
started

   StudentID     FullName  Data Structure Marks  Algorithm Marks  ...  CompletionStatus EnrollmentDate Instructor Location
16    PH1017  Afsana Mimi                  90.0             90.0  ...         Completed     2025-09-01  Mr. Karim    Dhaka

[1 rows x 9 columns]